<div id="<%= dom_id bicicletum %>">
  <div>
    <strong>Marca:</strong>
    <%= bicicletum.marca %>
  </div>

  <div>
    <strong>Rodada:</strong>
    <%= bicicletum.rodada %>
  </div>

  <div>
    <strong>Activa:</strong>
    <%= bicicletum.activa %>
  </div>

  <div>
    <strong>Estado:</strong>
    <%= mostrar_estado(bicicletum) %>
  </div>
</div>
